<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Performance by Expiration</title>
</head>
<body>
<table>
    <tr>
        <td>
            <a href="/">STATS</a>
        </td>
        <td>
            <a href="/redalert">RED_ALERT</a>
        </td>
        <td>
            <a href="/premium">Expiration_Premium</a>
        </td>
    </tr>
</table>
<hr>

Summary of transactions in the last 45 days by expiration for friday expirations only

<HR>
{{ EP|safe }}

</body>
</html>